In [115]:
import pandas as pd

In [117]:
df = pd.read_csv("url1.csv")
df = df.filter(['Marque', 'Prix', 'Boite_Vitesse', 'Carburant'])
df['Prix'] = df['Prix'].str.replace('F CFA', '').str.replace('\u202f', '').astype(int)
df.to_csv('url1_db.csv', index=False)

In [79]:
df_mod = pd.read_csv('url2.csv')
df_mod['Prix'] = df_mod['Prix'].str.replace('F CFA', '').str.replace('\u202f', '')
rows_with_nc = df_mod[df_mod['Prix'] == 'NC'].index
df_mod.drop(rows_with_nc, inplace=True)

df_mod.to_csv('url2.csv', index=False)

In [133]:
df = pd.read_csv('url2.csv')
df['Prix'] = df['Prix'].str.replace('F CFA', '').str.replace('\u202f', '')
rows_with_nc = df[df['Prix'] == 'NC'].index
df.drop(rows_with_nc, inplace=True)
df['Prix'] = df['Prix'].astype(int)
df['Adresse'] = df['Adresse'].str.replace(',', '')
df = df.filter(['Marque', 'Prix', 'Adresse'])
df.to_csv('url2_db.csv', index=False)

In [143]:
df = pd.read_csv('url3.csv')
df = df.filter(['Marque', 'Prix'])
df['Prix'] = df['Prix'].str.replace('F CFA', '').str.replace('\u202f', '')
rows_with_nc = df[df['Prix'] == 'NC'].index
df.drop(rows_with_nc, inplace=True)
df['Prix'] = df['Prix'].str.replace('F CFA', '').str.replace('\u202f', '').astype(int)

df.to_csv('url3_db.csv', index=False)
df

         Marque   Prix
0      Mercedes  15000
1       Hyundai  25000
2          Ford  30000
3          Ford  25000
4        Nissan  25000
..          ...    ...
150  Mitsubishi  40000
151        Ford  75000
152     Citroen  30000
153        Ford  30000
154         Kia  25000

[150 rows x 2 columns]